<?xml version="1.0" encoding="UTF-8" ?><templates xmlns:a="http://slcf/templates/settings/bem-scheme/additional" xmlns:b="http://slcf/templates/settings/bem-scheme/block" xmlns:d="http://slcf/templates/settings/bem-scheme/data" xmlns:e="http://slcf/templates/settings/bem-scheme/element" xmlns:p="http://slcf/templates/settings/bem-scheme/pointer" xmlns:m="http://slcf/templates/settings/bem-scheme/modification" xmlns:t="http://slcf/templates/settings/bem-scheme/template" xmlns:x="http://slcf/templates/settings/bem-scheme/xhtml" xmlns:un="http://slcf/templates/settings/bem-scheme/unknown-namespace" xmlns:alxc="http://slcf/templates/settings/bem-scheme/additional-legacy-xhtml-class">

	<t:section_content_main-menu>
		<b:section tag="nav" x:role="navigation" noclass="true">
			<m:content val="main-menu"/>
			<!--<e:header>-->
				<e:title>
					<a:heading>
						<m:level val="2"/>
						</a:heading>
					<cdata>Menu</cdata>
				</e:title>
			<!--</e:header>-->
			<p:menu_content_main/>
		</b:section>
	</t:section_content_main-menu>

	<t:menu_content_main>
		<d:menu_content_main/>
	</t:menu_content_main>

</templates>