ul {
	form & {
		.list-reset();

		dl {

			.clearfix();
			margin: 0;
		}
		dt {
			float:left;
			line-height:1;
			margin:0 -100% 0 0;
			position:relative;
			width:146px;

			font: 0px/0 'softline',a;

			span,
			label {
				display:inline-block;
				vertical-align:top;

				font:bold 16px/20px @default-font-family;
			}
		}
		dd {
			margin:0;
			margin-left:152px;

			max-width:300px;
			text-align: left;
		}

		li {
			clear:both;

			padding-bottom:8px;

			&:last-child {

				.clearfix();

				dl {
					float:left;
					margin-right:-100%;

					& + dl {

						dd {
							margin-left:0;
						}
					}
				}
			}
		}
	}
}