.b-logo {
	margin:0;
	padding:29px 0;

	color:#fff;

	font:bold 100px/1 @default-font-family;
	text-transform: uppercase;
	text-align: center;

	&__text {
		color:#fff;

		&.b-link {
			&:focus,
			&:hover {
				color:#fff;
			}
		}
	}
}