nav ul {
	display:inline-block;
	vertical-align:top;
	.list-reset();

	padding:0.15em 0 1em;
	margin:0 0 -1em;
	text-align:center;

	li {
		display:inline-block;
		vertical-align:top;

		margin:0 0.45em 1em;

		background:#da622e;
		color:#000;

		.undo-font-reset();
		font-size:0.75em;

		text-align:left;

		&:first-child {
			body > & {
				display:none;
			}
		}

		&[data-selected="true"] {

			a {

				&:focus,
				&:hover {
					background:none;
				}
			}
		}
	}
	a {
		display:block;
		padding:7px (20 / 16 + 0em);
		padding:0.25em ((20 / 16)/2 + 0em);

		outline:none;
	}
	:link,
	:visited {
		color:#fff;

		&:focus,
		&:hover {
			background:#dd7243;
			background:rgba(255,255,255,.1);
			color:#000;
		}
	}
	@media all and (min-width:20em) {
		li {
			font-size:100%;
		}
	}
	@media all and (min-width:37em) {
		padding-top:1em;
		padding-left:1em;
		padding-right:1em;
		li {
			&:first-child + li {
				margin-left:0;
			}
		}
	}
	@media all and (min-width:50em) {
		display:block;
		padding:0;
		margin-bottom:0em;

		li {
			display:block;
			margin:1px 0 0;

			&:first-child {
				body > & {
					display:block;
				}
			}
		}
	}
	@media all and (min-width:64em) {
		a {
			padding:7px (20 / 16 + 0em);
		}
	}
}
