nav {
	display:block;
	position:relative;

	float:left;

	margin:0 -100% 0 0;

	background:rgba(0,0,0,.2);

	left:0;
	width:200px;

	header {
		position:relative;

		margin:0 0 42px;
		padding:7px 0;

		background:#da622e;

		&:after {
			content:'';

			display:block;
			height:40px;

			position:absolute;
			top:100%;
			left:0;
			right:0;

			margin:1px 0 0;

			background:#da622e;
		}
		h3 {
			display:block;

			padding:0 20px;
			margin:0;

			font:bold 16px/26px @default-font-family;
			text-transform:uppercase;

			color:#fff;
		}
	}

	:link,
	:visited {
		color:#fff;

		&:focus,
		&:hover {
			color:@color--b-link_state_hover;
		}
	}
}


