.b-section {
	&_content_main-menu {
//		border:1px solid #000;

		.b-section__header {
			background:#da622e;
			margin:0;
//			margin:0 0 40px;
			padding:10px 0 40px;
		}
		.b-section__title {
			display:block;

			color:#fff;
			font:bold 16px/20px @default-font-family;
			text-transform:uppercase;

			padding:0 20px 10px;
			border-bottom:1px solid #216b9a;

		}
		.b-section__body {
		}

		.b-link {
			color:#fff;

			&:hover {
				color:@color--b-link_state_hover;
			}
		}
	}
}

