html {
//	min-width:1000px;
	min-height:100%;

	background:#0d5a92 url('../images/b-page-background.jpg') no-repeat;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;

	color:#fff;
}
body {
	margin:auto;
	max-width:998px;

	position:relative;
	padding:0 0 2.25em;

	min-height:100%;

	font:16px/26px @default-font-family;

	.clearfix();

	#nojs & {

		&[data-page='index'] {
			padding-bottom:136px;
		}
	}
}